// 颜色定义规范
$color-background = #fafafa
$color-background-g = #f2f2f2
$color-background-l = #fff
//$color-highlight-background = #F0F0F0 // 背景底色
//$color-highlight-background-d = #949697 // 背景底色2 // 做个图没标准
//$color-dialog-background = #666
$color-theme = #FF397E // active显示值
$color-price-d = #FF351F
//$color-theme-d = rgba(255, 205, 49, 0.5)
//$color-sub-theme = #FF0303 // 红色值
$color-error = #EC2323

//$color-text = rgb(88,88,88) // 基础文本颜色 黑灰
$color-text = #333 // 基础文本颜色 黑灰
$color-text-s = #999 // 基础文本颜色 黑灰
$color-text-d = #333 // 基础文本颜色 黑灰
$color-text-black = #121212
$color-text-gray = #666
$color-text-l = #fff // 文本白色
//$color-text-d = #C3C3C3 // 文本浅灰2 边框浅色
$color-border = #f7f7f7 // 标准边框色
//$color-border-d = #C3C3C3
//$color-text-ll = rgba(255, 255, 255, 0.8)

$font-family-b = 'PingFang-SC-Bold'
$font-family-m = 'PingFang-SC-Medium'


//字体定义规范
$font-size-small-s = 18px
$font-size-small = 20px
$font-size-medium = 24px
$font-size-medium-x = 26px
$font-size-medium-s = 28px
$font-size-large = 30px
$font-size-large-x= 32px
$font-size-large-s = 34px